/**** library row item ********/
#library-books-list {
  margin-top: 65px;
}

.span3 .well{
  margin-top: 65px;
}
  
.row-view .book-item {
  width: 100%;
  padding: 0px 20px;
  height: 150px; }

.row-view .book-item:nth-child(odd) {
  background-color: #F3F3F3; }

.row-view .cover-image {
  position: relative;
  width: 90px;
  height: 120px;
  top: -80px; }

.row-view .book-info {
  position: relative;
  clear: none;
  left: 110px;
  top: 20px; }

.row-view .buttons {
  display: none; }

.row-view .info-icon {
  position: relative;
  right: 20px;
  top: -22px; }

.row-view .info-item.title {
  font-weight: 300; }

.row-view .info-item.author {
  margin-top: -5px;
  padding-bottom: 20px; }


/**** new footer  css code******************************************************/
#info {
   position: absolute;
    bottom: 0;
    font-size: 12px;
    width: 70%; /* See note below */
    text-align: center;
    padding: 0 15%;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);

}
#info a {
  color: inherit;
}

#pager {
    content: '';
  position: absolute;
  right: 0;
  bottom: 51px;
  left: 0;
  height: 50px;
  z-index: -1;
  border-bottom:1px dashed #ccc;
}

